FLASK_SECRET_KEY=...
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
LOG_LEVEL=...
TELEGRAM_BOT_TOKEN=...
TELEGRAM_CHAT_ID=...
OAUTHLIB_INSECURE_TRANSPORT=...
SERVICE_ACCOUNT_FILE_NAME =...
GOOGLE_SPREADSHEET_ID =...
GOOGLE_SHEET_RANGE =...
