<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OpenHopeHack{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light">
    <meta property="og:title" content="OpenHopeHack - Empowering Young Iranian Students" />
    <meta property="og:description"
        content="An initiative to encourage young students in Iran to contribute to open-source projects and promote open-source culture." />
    <meta property="og:image"
        content="https://raw.githubusercontent.com/pesarkhobeee/openHopeHack/main/openhopehack/static/logo.png" />
    <meta property="og:url" content="https://openHopeHack.com" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.pumpkin.min.css" />
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet"
        type="text/css" />
    <style>
        * {
            font-family: Vazirmatn, sans-serif !important;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>

<body dir="rtl" lang="fa">
    <header>
        <nav>
            <ul>
                <li><strong>
                        <a href="/">به OpenHopeHack خوش آمدید</a>
                    </strong></li>
            </ul>
            <ul>
                <li><a href="/pr">مشاهده پی‌آرهای ثبت‌شده</a></li>
                <li><a href="https://github.com/pesarkhobeee/openHopeHack">گیت‌هاب</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% block extra_body %}{% endblock %}
</body>

</html>
