<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub PR Submission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.pumpkin.min.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><strong>Welcome to OpenHopeHack</strong></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Github</a></li>
              <li><a href="#">Register a Telent</a></li>
            </ul>
          </nav>
    </header>

    <main>
    {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}!</h1>
        <form action="/submit-pr" method="POST">
            <label for="pr_url">PR URL:</label>
            <input type="url" id="pr_url" name="pr_url" required>
            <button type="submit">Submit</button>
        </form>
        <a href="{{ url_for('base.logout') }}">Logout</a>
    {% else %}
        <h1>Welcome!</h1>
        <a href="{{ url_for('base.github_login') }}">Login with GitHub</a>
    {% endif %}
    </main>
</body>
</html>
