{% extends "base.html" %}

{% block content %}
    <div class="section">
        <p>

این پروژه یک ابتکار برای تشویق دانش آموزان و دانشجویان جوان در ایران به مشارکت در پروژه‌های اپن سورس و ترویج فرهنگ و ذهنیت متن‌باز است. با حمایت جامعه فنی مهاجر ایرانی، ما قصد داریم با ارائه جوایزی مانند لپ‌تاپ، شور و اشتیاق و همکاری را در بین جوانان با استعداد تقویت کنیم.
        </p>
    </div>
    <div class="section">
        {% if current_user.is_authenticated %}
        <a href="https://github.com/{{ current_user.username }}" target="_blank">  {{ current_user.username }} شما وارد شده‌اید</a>
        <form action="/submit-pr" method="POST">
            <label for="pr_url">لطفا پی‌آر خود را ارسال کنید:</label>
            <input type="url" id="pr_url" name="pr_url" required>
            <button type="submit">ثبت</button>
        </form>
        <a href="{{ url_for('base.logout') }}">خروج</a>
        {% else %}
        <div class="section">
            <a href="{{ url_for('base.github_login') }}" role="button">ورود به اکانت گیت هاب برای ثبت پی‌آر</a>
        </div>
        {% endif %}
    </div>
    <div class="section">
        <p></p>
    </div>
        <h3>ماموریت ما:</h3>
        <div class="section">
            <ul>
                <li><strong>ترویج فرهنگ اپن سورس:</strong> ما جوانان ایران را به مشارکت در پروژه‌های اپن سورس تشویق می‌کنیم و به توسعه ذهنیت همکاری و شفافیت که فرهنگ متن‌باز ترویج می‌دهد، کمک می‌کنیم.</li>
                <li><strong>حمایت از مشارکت‌کنندگان جوان:</strong> با ارائه جوایزی مانند لپ‌تاپ، به جوانان کمک می‌کنیم تا مسیر توسعه خود را ادامه دهند و تجربه عملی در جامعه اپن سورس کسب کنند.</li>
            </ul>
        </div>

        <h3>چگونه کار می‌کند:</h3>
        <div class="section">
            <ol>
                <li><strong>ارسال پی‌آر:</strong> توسعه‌دهندگان جوان می‌توانند در هر پروژه اپن سورسی مشارکت کنند و درخواست‌های PR خود را از طریق پلتفرم ما ارسال کنند.
                    <ul>
                        <li>PR باید به صورت عمومی در گیت‌هاب قرار گیرد.</li>
                        <li>PR مذکور در مخزن اصلی پروژه مرج شده باشد.</li>
                        <li>تغییرات ورای مستندات پروژه باشد.</li>
                    </ul>
                    <a href="https://docs.google.com/spreadsheets/d/1TeWnmfktQbqBIIeNk9lkv5vdzD0Innt9LI37Xg0pAMI" target="_blank">مشاهده پی‌آرهای ثبت‌شده</a>.
                </li>
                <li><strong>سیستم جوایز:</strong> حامیان، PRهای ارسال‌شده را بررسی می‌کنند و بر اساس میزان سختی به آنها امتیاز میدهند و بعد طی یک قرعه کشی ماهانه مشارکت‌های انتخاب شده با جوایز مالی یا لپ‌تاپ پاداش داده می‌شوند.</li>
                <li><strong>انتشار ایده:</strong> شرکت‌کنندگان تشویق می‌شوند که این ابتکار را با دوستان و همکاران خود به اشتراک بگذارند تا جامعه اپن سورس رشد کند.</li>
            </ol>
        </div>

        <h3>چگونه می‌توانید کمک کنید:</h3>
        <div class="section">
            <ul>
                <li>با کمک مالی مستمر ماهانه، به ما کمک کنید تا جوایز بیشتری برای دانشجویان فراهم کنیم و  داوطلب شوید تا در بررسی و امتیازدهی به PRها کمک کنید. برای اطلاعات بیشتر لطفا با ایمیل openhopehack@gmail.com ارتباط برقرار کنید.</li>
                <li>فلسفه نرم افزارهای آزاد و منبع باز را با به اشتراک‌گذاری این پروژه ترویج دهید.</li>
            </ul>
        </div>

        <div class="section">
            <p>
                برای هرگونه سوال یا بحث، می‌توانید از <a href="https://github.com/pesarkhobeee/openHopeHack/issues" target="_blank">بخش issueهای پروژه</a> در گیت‌هاب استفاده کنید.
            </p>
        </div>
{% endblock %}
